/*!
 Project   : Total WordPress Theme
 Purpose   : IE9 Fixes and tweaks
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 Notes     : Un-compressed SASS files available
 */.theme-button.clean,.theme-button.clean:hover,.theme-button.clean.active,.active>.theme-button.clean,.vcex-heading-graphical{background:#eee;color:#000}